
*{
    box-sizing: border-box;
    
}

body {
    
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
h2{
    font-weight: bold;
}
.forecast{
    
    font-size: 0.9em;
}
span{
    font-size: 1em;
}
li:hover{
    background-color: lightslategray;
    text-decoration: underline;
}
.list-group-mine .list-group-item {
  background-color: transparent;
  border-top: 1px;
  border-bottom: 1px;
  border-left-color: #fff;
  border-right-color: #fff;
  border-radius: 0;
}

.list-group-mine .list-group-item:hover {
  background-color: lightgrey;
}